#set( $OWN_PACKAGE = "de.muenchen.selenipo.po#if ( $poGeneric.getPackageName() && $poGeneric.getPackageName().trim().size() != 0 ).$poGeneric.getPackageName()#end" )
#set( $GENERATED_PACKAGE = "de.muenchen.selenipo.po#if ( $poGeneric.getPackageName() && $poGeneric.getPackageName().trim().size() != 0 ).$poGeneric.getPackageName()#end" )
#set( $CLASS_NAME = "$poGeneric.getIdentifier()")
#set( $CLASS_NAME_SUPER = "$poGeneric.getIdentifier()Generated")

package $OWN_PACKAGE;

import de.muenchen.selenipo.po.BasePo;
import de.muenchen.selenipo.po.Control;
import de.muenchen.selenipo.po.PageObject;
import $GENERATED_PACKAGE.$CLASS_NAME_SUPER;

public class $CLASS_NAME extends $CLASS_NAME_SUPER {

	public $CLASS_NAME(PageObject po) {
		super(po);
	}

}
